<%= minititle 'New Article' %>

<%= simple_form_for article do |f| %>
  <%= f.input :name, wrapper_html:{class:'name'} %>
  <%= f.input :type, as: :select, collection:Article::TYPES %>
  <%= f.input :image %>
  <%= f.button :submit %>
  <% if project_id.nil? %>
    <div>
      <%= label_tag :project_id %>
      <%= select_tag :project_id, Project.options %>
    </div>
  <% else %>
    <%= hidden_field_tag :project_id, project_id %>
  <% end %>
<% end %>
