<%= title @article.title %>

<% present @article do |presenter| %>

<%= presenter.subtitle %>

<div class="article">
  <%= presenter.profile_image %>
  <%= presenter.histories %>
  <%= presenter.relations %>
  <%= presenter.history_form %>
  <%= presenter.relation_form(@relation) %>
</div>

<% end %>
